#title, .time {
    text-align: center;
}

#title {
    font-family: 'Black Ops One', cursive;
}

.time, .t-list, .labels {
    font-family: 'Share Tech Mono', monospace;
}

#t-cont {
    border: 3 solid red;
}

/* font-family: 'Share Tech Mono', monospace;
font-family: 'Black Ops One', cursive;
font-family: 'Electrolize', sans-serif; */