.all {
    background-color: orange;
    /* background-image: url("../images/2647265848_5cd2e50b4a_b.jpg"); */
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
}

#title, .time {
    text-align: center;
}

#title {
    color: rgb(92, 6, 6);
    margin-top: 10px;
    font-size: 60px;
    font-family: 'Black Ops One', cursive;
}

.time {
    color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin-bottom: 20px;
}

.time, .t-list, .labels {
    font-family: 'Share Tech Mono', monospace;
}

.f {
    text-align: center;
}

#add-train {
    border-color: white;
    color: white;
    background-color: rgb(92, 6, 6);
}

#add-train:hover {
    color: white;
    background-color: black;
}

.l {
    text-align: right;
    width: 600px;
}

.labels {
    color: rgb(92, 6, 6);
    border: 2px dashed rgb(92, 6, 6);
    padding: 20px 10px 10px 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    display: inline-block;
    width: 750px;
}

#t-cont {
    border: 2px dashed rgb(92, 6, 6);
    padding: 30px 30px 0px 30px;
    width: 85%;
}

.col-sm-5 {
    text-align: right;
}

.x-out {
    display: inline-block;
    border: none;
    color: rgb(92, 6, 6);
    background-color: transparent;
}

.x-out:hover {
    background-color: rgb(92, 6, 6);
    color: white;
}

#update {
    color: rgb(92, 6, 6);
    font-size: 13px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

@media screen and (max-width: 730px) {

    .all {
        font-size: 10px;
    }

    .labels, #t-cont, .t-list {
        width: 100%;
    }

}